* { box-sizing: border-box}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

.Input input, .Autosuggest input {
  min-width: 7em;
  border-width: 0 0 1px !important ;
  -o-border-image: linear-gradient(to right, rgba(0,0,0,.25), rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 1;
     border-image: -webkit-linear-gradient(left, rgba(0,0,0,.25), rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 1;
     border-image: linear-gradient(to right, rgba(0,0,0,.25), rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 1;
  outline: none !important ;
}
.Input input:focus, .Autosuggest input:focus {
  border-width: 0 0 2px !important ;
  -o-border-image: linear-gradient(to right, #08e, rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 2;
     border-image: -webkit-linear-gradient(left, #08e, rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 2;
     border-image: linear-gradient(to right, #08e, rgba(0,0,0,0) 8em, rgba(0,0,0,0)) 2;
}

.PanelHeader {
  font-weight: inherit !important ;
}
