.DS_Store
demo/data/indexes/
demo/data/vocabs/cito/
demo/data/vocabs/dcterms/
demo/data/vocabs/foaf/
demo/data/vocabs/geo/
demo/data/vocabs/gsp/
demo/data/vocabs/osgeom/
demo/data/vocabs/osspr/
demo/data/vocabs/owl/
demo/data/vocabs/prov/
demo/data/vocabs/rdf/
demo/data/vocabs/rdfs/
demo/data/vocabs/skos/
demo/data/vocabs/spatial/
demo/lib/
demo/standalone/
lib/
node_modules/
