.DS_Store
data/indexes/
data/test/pleiades-latest/
data/vocabs/cito/
data/vocabs/dcterms/
data/vocabs/foaf/
data/vocabs/geo/
data/vocabs/osgeom/
data/vocabs/osspr/
data/vocabs/owl/
data/vocabs/prov/
data/vocabs/rdf/
data/vocabs/rdfs/
data/vocabs/skos/
data/vocabs/spatial/
lib/
node_modules/
